body {
    background: url(image/backgroundplaygame.png);
    background-size: cover;
    background-position-y: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.guide {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}

.wrapper {
    display: flex;
    margin-top: 120px;
    justify-content: space-around;
}

.player {
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: #2e0266;
    width: 10%;
    height: 30%;
    padding: 50px 100px 200px 100px;
    border-radius: 30px;
    text-transform: uppercase;
    max-height: 500px;
}

.player .icon-player,
.icon-bot {
    margin-top: -100px;
}

.playframe {
    width: 700px;
    height: 700px;
    margin-top: -80px;
    border: black 2px solid;
    border-radius: 30px;
}

.bot {
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: #2e0266;
    width: 10%;
    height: 30%;
    padding: 50px 100px 200px 100px;
    border-radius: 30px;
    text-transform: uppercase;
    max-height: 30%;
}

.icon-x {
    padding-top: 150px;
    padding-left: -50px;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    position: relative;
    background-color: antiquewhite;
}

.title {
    width: 100%;
    font-size: 40px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    text-align: center;
    position: relative;
    top: 80px;
}

.gameContainer {
    min-width: 400px;
    text-align: center;
    padding-top: 10vw;
    margin-top: -70px;
}

.title {
    position: relative;
    top: -3rem;
    font-size: 5rem;
    white-space: nowrap;
    font-family: "Gill Sans", "Gill Sans MT";
}

.reset button {
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: aliceblue;
    margin-left: 45%;
    outline: none;
    margin-top: 20px;
    padding: 5px 20px 5px 20px;

}

#board {
    position: absolute;
    z-index: -1;
}

.cells {
    display: inline-block;
    height: 97px;
    width: 100px;
    position: relative;
}

.cells ul {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    transform: translate(-20px, -80px);
}




@keyframes example {
    from {
        background-color: #FFF;
    }

    to {
        background-color: #00FFF3;
    }
}

.cells:hover {
    cursor: pointer;
    animation-name: example;
    animation-duration: .3s;
    background-color: #00FFF3;
}

.winScreen {
    font-size: 3rem;
    font-weight: bold;
    background-color: white;
    width: 36.5%;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 2;
}