html {
    background-color: #2e0266;

}

body {
    font-family: 'Courier New', Courier, monospace;
   
}

.header {
    color: #fff;
    text-align: center;
    font-size: 80px;
    width: 100%;
}

.header>h2 {
    margin: 0px;
}

.sub-header {
    color: #fff;
    text-align: center;
    font-size: 50px;

}

.sub-header>h3 {
    margin-top: 0;
    color: #fff;
    display: inline-block;
    padding: 20px;
    border-radius: 50px;
}



.rank-name {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 30px;
}

.rank-name>p {
    margin: 0 50px 0 50px;
    color: #fff;
}


.image {
    width: 100%;
    height: 300px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/1041/1041158.png);
    background-position: center;
    background-repeat: no-repeat;
}

.list {
    background-color: #fff;
    margin-top: 50px;
    min-height: 670px;
    margin-left: 34%;
    margin-right: 34%;
    border-radius: 30px;
    padding-top: 20px;
}

.list>ul {
    list-style-type: none;
}

.list>ul>li>h3 {
    margin-top: 40px;
    border: 1px solid #ccc;
    padding: 15px;
    width: 88%;
    border-radius: 30px;
}

